
<mat-accordion *ngIf="activity$ | async as activity"  multi>
  <mat-expansion-panel class="component-container">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Detalle de una actividad   
      </mat-panel-title>
      <span class="completed-chip" *ngIf="isCompleted(activity)">Finalizada</span>
      <span class="remove-activity" *ngIf="isEnrolleesEmpty(activity)">
      <a (click)="openDeactivateDialog('Delete',activity)"><mat-icon color="warn">delete</mat-icon></a>
    </span>

    </mat-expansion-panel-header>
    <app-activity-form [activity]="activity" (onsave)="save($event)"></app-activity-form>

  </mat-expansion-panel>


  <mat-expansion-panel class="component-container" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Inscritos
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-activity-enrollees-table [enrollees]="activity.enrollees"></app-activity-enrollees-table>

  </mat-expansion-panel>
</mat-accordion>

<button
  mat-raised-button
  color="primary"
  routerLink="/activity"
  class="goBackButton"
>
  Volver atrás
</button>
