.mat-expansion-panel {
  margin-left: auto;
  margin-right: auto;
}

div {
  margin-top: 2%;
}
.mat-raised-button {
  margin-left: 2.5%;
  margin-top: 1%;
}

.mat-expansion-panel-header {
  display: flex;
  justify-content:space-around;
}

.remove-activity {
  margin-right: 20px;
}

.completed-chip {
  width: fit-content;
  height: 30px;
  border-radius: 32px;
  color: white;
  text-align: center;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 13px;
  box-sizing: border-box;
  line-height: 1.75;
  letter-spacing: 0.45px;
  background-color: crimson;
}