<div class="component-container">
  <div class="header" *ngIf="!isEmptyEnrollees">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        
        placeholder="Filter"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    *ngIf="dataSource.filteredData.length > 0"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="license">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Licencia.</th>
      <td mat-cell *matCellDef="let element">{{ element.license }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pay_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de pago</th>
      <td mat-cell *matCellDef="let element">
        {{ element.pay_date * 1000 | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="paymethod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Método de pago</th>
      <td mat-cell *matCellDef="let element">{{ element.paymethod }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuantía abonada</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="price_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nombre de precio
      </th>
      <td mat-cell *matCellDef="let element">{{ element.price_name }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="support-requests__table-content"
      >
        <div class="support-requests__content-badge" [ngClass]="element.status">
          <span>{{ element.status }}</span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns">
      >
    </tr>
  </table>
  <div *ngIf="isEmptyEnrollees">
    <span>Nadie registrado aún.</span>
  </div>

  <mat-paginator *ngIf="!isEmptyEnrollees" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
