  <mat-card>
    <mat-card-title>Registrar una nueva actividad</mat-card-title>
  
    <mat-card-content >
      <app-activity-form  (onsave)="save($event)"></app-activity-form>
  
    </mat-card-content>
  </mat-card>
<button
  mat-raised-button
  color="primary"
  routerLink="/activity"
  class="goBackButton"
>
  Volver atrás
</button>
