<h1 mat-dialog-title>Eliminar actividad</h1>
<div mat-dialog-content>
  <p>¿Estás seguro de que quieres eliminar esta actividad?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" mat-flat-button color="warn">Sí</button>
  <button mat-button (click)="closeDialog()">No</button>
</div>