<div class="component-container">
  <div class="header">
    <mat-form-field  *ngIf="!isEmptyActivity">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <span *ngIf="isEmptyActivity"></span>
    <button mat-fab color="primary" routerLink="/activity/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    *ngIf="!isEmptyActivity"
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="inscription_date_start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Comienzo inscripcion
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.inscription_date_start * 1000 | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="inscription_date_end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fin inscripcion</th>
      <td mat-cell *matCellDef="let element">
        {{ element.inscription_date_end * 1000 | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <ng-container matColumnDef="paymethod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Método Pago</th>
      <td mat-cell *matCellDef="let element">{{ element.paymethod }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="link"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['/activity/', row.id]"
    >
      >
    </tr>
  </table>
  <div *ngIf="isEmptyActivity">
    <p>No se han encontrado actividades</p>
  </div>
  <mat-paginator 
    [pageSizeOptions]="[10, 25, 100]"
    *ngIf="!isEmptyActivity"
  ></mat-paginator>
</div>
